* {
    box-sizing: border-box;
}
:root {
    --maxWidth: 1400px;
    --colorOra: #e5b057;
    --colorMo: #cbb795;
}
@media all and (max-width:1155px) {
    /* 변호사 리스트 */
    #lawyer-cont {
        padding: 15px;
    }
    #lawyer-name {
        padding-bottom: 10px;
        font-size: 16px;
    }
    #lawyer-cont ul li {
        font-size: 13px;
    }
}

/* 태블릿 가로 */
@media all and (min-width:768px) and (max-width:1024px) {
    #top-sec {
        padding: 130px 15px 0;
    }
    #top-txt, #top-txt strong {
        font-size: 24px;
    }
    #pc-lawyer-list > li {
        width: calc(100% / 5 - 10px);
        height: 370px;
    }
    #lawyer-cont {
        padding: 10px;
        height: 217px;
    }
    #lawyer-cont #lawyer-name {
        font-size: 15px;
    }
    #lawyer-cont ul li {
        font-size: 12px;
    }
} 

/* 모바일 가로, 태블릿 세로 */
@media all and (max-width:767px) {
    #top-sec {
        padding: 130px 0 0;
    }
    #top-txt {
        display: none;
    }
    #mo-top-txt {
        display: block;
    }
    #border-cont {
        border: none;
    }
    #border-cont * {
        font-size: 1.6rem;
    }
    #border-cont strong {
        color: var(--colorMo);
    }
    #pc-lawyer-list {
        display: none;
    }
    #mo-lawyer {
        display: block;
    }
}
@media all and (max-width:590px) {
    #row-1 > li {
        height: 28rem;
    }
    #row-2 > li {
        height: 29rem;
    }
    #row-2 .back-inner {
        padding: 60% 1rem 0;
    }
    #row-1 .back-inner p, #row-2 .back-inner p {
        font-size: 1.5rem;
    }
    #row-1 .back-inner ul li, #row-2 .back-inner ul li,
    #row-1 .back-inner ul li span, #row-2 .back-inner ul li b {
        font-size: 1.2rem;
    }
}

/* 모바일 */
@media all and (max-width:479px) {
    #mo-top-txt {
        font-size: 1.7rem;
    }
    #mo-top-txt strong {
        font-size: 1.8rem;
    }
    #border-cont * {
        font-size: 1.5rem;
    }
    #row-1 > li {
        height: 26rem;
    }
    #row-1 .back-inner {
        padding: 53% 1rem 0;
    }
    #row-1 .back-inner ul li, #row-2 .back-inner ul li {
        line-height: 1.3;
    }
    #row-1 .back-inner p, #row-2 .back-inner p {
        font-size: 1.3rem;
    }
    #row-2 > li {
        height: 27rem;
    }
    #row-2 .back-inner {
        padding: 70% 1rem 0;
    }
}
@media all and (max-width:398px) {
    #team-txt {
        width: 50%;
    }
    #row-1 > li {
        height: 26rem;
    }
    /* #row-1 .back-inner {
        padding: 55% 1rem 0;
    } */
    #row-2 > li {
        height: 28rem;
    }
    #row-1 .back-inner ul li span {
        display: inline;
        word-break: break-all;
    }
}